*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: blue;
    color: white;
    font-size: 14px;
    padding: 20px;
    text-align: center;
}

.sec1-img{
    width: 30%;
    display: inline-block;
}

.sec1-img img{
    width: 100%;
    display: inline-block;
}

.sec1-text{
    width: 50%;
    display: inline-block;
    margin: 30px;
    vertical-align: top;
}

.sec1-text p{
    text-align: justify;
    font-size: 16px;
}

.sec2 h1{
    font-size: 20px;
    text-align: center;
}

.cards{
    width: 30%;
    height: 250px;
    background-color: gray;
    display: inline-block;
    margin: 15px;
    vertical-align: top;
}

.cards h1, p{
    padding: 10px 20ppx;
}

.sec3 img{
    display: block;
    border: 2px solid red;
    margin: 0 auto;
}

.sec3 img img{
    width: 100%;
}

.sec3-text{
    width: 90%;
    font-size: 18px;
    margin: 20px;
    text-align: center;
}

